<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/jobs.css">
    <title>Recent Jobs</title>
    
</head>

<body>
    <h1>Recent Jobs</h1>
    <div class="job-container">
        {% for title, desc, url in jobs_data %}
        <div class="job-card">
            <div class="job-title">{{ title }}</div>
            <div class="job-description">{{ desc }}</div>
            <a href="{{ url }}" class="job-url" target="_blank">View Job</a>
        </div>
        {% endfor %}
        
    </div>
    <div class="button-container">
        <a href="/" class="nav-button upload-btn">
            <span>Upload Another Resume</span>
        </a>
        <a href="/ats_matcher" class="nav-button ats-btn">
            <span>Check ATS Score</span>
        </a>
        <a href="/interviw" class="nav-button interview-btn">
            <span>Get Interview Questions</span>
        </a>
    </div>
</body>

</html>